@page
@model MMC.WEB.Pages.Speakers.CreateModel
@{
    ViewData["Title"] = "Add Speaker";
}


<div class="container-fluid">
    <div class="container-fluid py-1 mb-2 bg-dark">
        <h3 class="mb-0 text-center text-light">Speakers</h3>
    </div>

    <div class="card">
        <div class="card-body wizard-content">
            <h4 class="card-title title-2">Speaker Form</h4>
            <hr>

            <div class="mt-4">
                <div class="container">
                    <div class="row d-flex justify-content-center">
                        <div class="col-xl-8 col-lg-10 col-12">
                            <div class="card" style="background-color:#F2F2F2">
                                <div class="card-header font-weight-bold">Speaker</div>
                                <div class="card-body">
                                    <div class="card-title">
                                        <h3 class="text-center title-1 font-weight-bold">New speaker</h3>
                                    </div>
                                    <hr>
                                    <form method="post" enctype="multipart/form-data">

                                        <div class="form-row">
                                            <div class="form-group col-xl-6 col-lg-6 col-md-6 col-sm-12 col-12">
                                                <label asp-for="Speaker.Firstname" class="control-label">Firstname <span class="text-danger">*</span></label>
                                                <span asp-validation-for="Speaker.Firstname" class="text text-danger"></span>
                                                <input asp-for="Speaker.Firstname" type="text" class="form-control required" placeholder="enter firstname">
                                            </div>

                                            <div class="form-group col-xl-6 col-lg-6 col-md-6 col-sm-12 col-12">
                                                <label asp-for="Speaker.Lastname" class="control-label">Lastname <span class="text-danger">*</span></label>
                                                <span asp-validation-for="Speaker.Lastname" class="text text-danger"></span>
                                                <input asp-for="Speaker.Lastname" type="text" class="form-control required" placeholder="enter lastname">
                                            </div>

                                            <div class="form-group col-xl-6 col-lg-6 col-md-6 col-sm-12 col-12">
                                                <label asp-for="Speaker.Email" class="control-label">Email <span class="text-danger">*</span></label>
                                                <span asp-validation-for="Speaker.Email" class="text text-danger"></span>
                                                <input asp-for="Speaker.Email" type="email" class="form-control required" placeholder="type email">
                                            </div>

                                            <div class="form-group col-xl-6 col-lg-6 col-md-6 col-sm-12 col-12">
                                                <label asp-for="Speaker.Phone" class="control-label">Phone <span class="text-danger">*</span></label>
                                                <span asp-validation-for="Speaker.Phone" class="text text-danger"></span>
                                                <input asp-for="Speaker.Phone" type="tel" class="form-control required" placeholder="type phone">
                                            </div>

                                            <div class="form-group col-12">
                                                <label class="control-label">Picture</label>
                                                <div class="input-group">
                                                    <div class="input-group-prepend">
                                                        <span class="input-group-text" id="inputFileAdd">URL</span>
                                                    </div>
                                                    <div class="custom-file">
                                                        <input type="file" class="custom-file-input" id="inputFile" name="files" multiple>
                                                        <label class="custom-file-label" for="inputFile">Select images...</label>
                                                    </div>
                                                </div>
                                                <div id="selectedFiles" class="mt-2"></div>
                                            </div>

                                            <div class="form-group col-xl-6 col-lg-6 col-md-6 col-sm-12 col-12">
                                                <label asp-for="Speaker.Facebook" class="control-label">Facebook</label>
                                                <input asp-for="Speaker.Facebook" type="text" class="form-control required">
                                            </div>

                                            <div class="form-group col-xl-6 col-lg-6 col-md-6 col-sm-12 col-12">
                                                <label asp-for="Speaker.Instagram" class="control-label">Instagram</label>
                                                <input asp-for="Speaker.Instagram" type="text" class="form-control required">
                                            </div>

                                            <div class="form-group col-xl-6 col-lg-6 col-md-6 col-sm-12 col-12">
                                                <label asp-for="Speaker.TwitterX" class="control-label">Twitter X</label>
                                                <input asp-for="Speaker.TwitterX" type="text" class="form-control required">
                                            </div>

                                            <div class="form-group col-xl-6 col-lg-6 col-md-6 col-sm-12 col-12">
                                                <label asp-for="Speaker.LinkedIn" class="control-label">LinkedIn</label>
                                                <input asp-for="Speaker.LinkedIn" type="text" class="form-control required">
                                            </div>

                                            <div class="form-group col-12">
                                                <label asp-for="Speaker.Description">Description</label>
                                                <textarea asp-for="Speaker.Description" class="form-control" rows="4" aria-required="true"></textarea>
                                            </div>
                                            </div>
                                        <div>
                                            <button asp-page-handler="Create" class="btn btn-lg btn-info btn-block mt-4">Add New</button>
                                        </div>

                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}


@section DocUploadJS {
    <script type="text/javascript">
        $(document).ready(function () {
            $('#inputFile').on("change", function () {
                var inputFiles = $(this).prop("files");
                var selectedFilesContainer = $('#selectedFiles');

                // Clear previous content
                selectedFilesContainer.empty();

                // Update input label
                if (inputFiles.length === 0) {
                    $(this).next(".custom-file-label").html("Choisir un fichier...");
                } else {
                    $(this).next(".custom-file-label").html(inputFiles.length);
                }

                // Display selected files in rows
                for (var i = 0; i < inputFiles.length; i++) {
                    selectedFilesContainer.append('<div>' + inputFiles[i].name + '</div>');
                }
            });
        });
    </script>
}